<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>

    <link rel="stylesheet" type="text/css" href="/style.css">

    <script src="/lib/jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>
    <script src="/lib/handlebars.js"></script>

  </head>

  <body>
    <h1>Shortly</h1>
    <!-- <button type="button">Logout</button> -->
    <form action="/logout" method="get">
      <input type="submit" value="Logout" name="Logout" id="Logout" />
    </form>
    <%- body %>
  </body>
</html>
